{%extends 'layouts/base.html'%}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static '/css/ask.css' %}">
 
    <div class="row tags_members_wrap">
     <div class="col-8">
      <div class="ask_form">
       
        <div class="mb-5 row">
          <label for="input" class="col-sm-2 col-form-label"><h3>Title</h3></label>
          <div class="col-sm-9">
            <input class="text-bg-light form-control form-control-lg border-2 border-black" placeholder="Write you answer" aria-label=".form-control-lg example" style="background-color: blanchedalmond;">
          </div>
         
        </div>
        <div class="mb-5 row">
          <label for="input" class="col-sm-2 col-form-label"><h3>Text</h3></label>
          <div class="col-sm-9">
          <textarea name="area" placeholder="Write text for you answer" rows="8" class="text-bg-light form-control form-control-lg border-2 border-black"></textarea>
          </div>
          
        </div>
        <div class="mb-5 row">
          <label for="input" class="col-sm-2 col-form-label"><h3>Tags</h3></label>
          <div class="col-sm-9">
            <input class="text-bg-light form-control form-control-lg border-2 border-black" placeholder="Write you tags" aria-label=".form-control-lg example" style="background-color: blanchedalmond;">
          </div>
        </div>
        <div class="row">

          <div class="col-sm-2">
          </div>
          <div class="col-sm-9" >
            <button class="btn-lg ask_btn" style="border-radius: 10px;">
              Ask
          </button>
          </div>
          
        </div>
      
     </div>
    </div>
    
  <script src="{% static '/js/bootstrap/bootstrap.bundle.js' %}"></script>
{% endblock %}