
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./static/css/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="./static/css/base.css">
  <title>Document</title>
</head>
<body>
  <header>
  <nav class="navbar  navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="./static/img/site_icon.png" width="50px" height="50px" alt=""></a>
      <a class="navbar-brand" href="#">Ask questions</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
       
        <form class="d-flex nav-btn" role="search">

          <a href="./ask.html" class="nav-link"><button type="button" class="btn btn-info">
            Ask
          </button>
          </a>     
        
          <input class="form-control me-2 nav-btn" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success nav-btn" type="submit">Search</button>
        </form>
      </div>
     
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
      <a href="#"><img class="nav-link base_avatar nav-btn" src="./static/img/unnamed.png"></a>
      <div class="conteiner">
        <div class="row">
          <div class="col-10">
            <div class="row">
              <li class="nav-item" style="margin-left: 10px;">
                <a class="navbar-brand"  aria-current="page" href="#">User</a>
              </li>  
              <div class="row">

                <div class="col-6">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./settings.html">Settings</a>
                  </li>    
                </div> 
                <div class="col-6">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Log out</a>
                  </li>    
                </div> 
              </div> 
             
            </div>
           
          </div>  
          
    </div>
    </div>
        </ul>
   
    </div>
  </nav>
</header>

  <div class="conteiner">
    <div class="row tags_members_wrap">
     <div class="col-8">

     </div>
     <div class="col-4">
      <div class="tags_members">

        <div class="tags">
          <div class="tags_head">
            <h1 class="text-dark-emphasis text-center">Popular Tags</h1>
          </div>
         
          <div class="tags_text" >
            <hr class="border-bottom border-danger">
            <span class="badge text-secondary-emphasis text-decoration-underline">C++</span> 
            <span class="badge bg-primary text-wrap" s> TexnoPark</span>
            <span class="text-danger-emphasis"> MySql</span>
            <span class="badge text-wrap text-body-tertiary ">Mail.ru</span>
            <span class="badge text-bg-secondary "> Vk</span>
            <span class="text-bg-light"> Voloshin</span>
            <span class="badge text-bg-info"> Python</span>
            <span class="badge text-bg-success text-white-emphasis"> django</span>
            <span class="text-bg-light"> Firefox</span>
            <span class="text-light-emphasis text-decoration-underline"> Chrome</span>
            <span class="badge text-bg-danger">Development</span>
            <span class="badge text-bg-info"> Ruby On Rails</span>
            <span class="badge text-bg-warning text-white-emphasis">Tcp/ip</span>
            <span class="text-bg-light">Css</span>
            <span class="badge text-bg-dark  text-white">Java</span>
            <span class="badge text-secondary-emphasis text-decoration-underline">Kotlin</span>
          
          </div>
          
        </div>

        <div class="members">
          <h1>Best members</h1>
          <div class="members_content">
            <a href="#">  <span class="badge text-bg-warning text-white-emphasis">Ilya Gruzdev</span></a>
         <a href="#"> <span class="badge text-bg-warning text-white-emphasis">DonaldTramp</span></a>
         <a href="#"><span class="badge text-bg-warning text-white-emphasis">Voloshin</span></a>
         <a href="#"><span class="badge text-bg-warning text-white-emphasis">Ivan Ivanov</span></a>
         <a href="#"><span class="badge text-bg-warning text-white-emphasis">Vasily</span></a>
         <a href="#"><span class="badge text-bg-warning text-white-emphasis">Rayan Gosling</span></a>
         <a href="#"><span class="badge text-bg-warning text-white-emphasis">Dmitriy</span></a>
         <a href="#"><span class="badge text-bg-warning text-white-emphasis">Alice</span></a>
          </div>
          
      </div>
      </div>  
     </div>
      </div>
    </div>  
    <footer id="footer">
      
      <div class="conteiner">
        <div class="row">
          <div class="col-4" style="color: white;"> 
            <div style="display: flex;">
            <div>
              Communicate with other people <br />
            <a class="" href="#"><img src="./static/img/site_icon.png" width="100px" height="100px"  alt=""></a>
          </div>
          <div class="">
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, iure fugit iusto 
            </div>
            <div class="m-lg-2">
              <a href="./register.html"><button type="button" class="btn btn-secondary btn-lg">Register</button></a>
              </button>
            </div>
           </div>
           
          </div>
            

          </div>
          <div class="col-4" style="color: white;">
            <address>
            <h3>You can contact author at</h3>
            <a href="http://www.somedomain.com/contact">www.somedomain.com</a>.<br />
            <a href="mailto:webmaster@somedomain.com">contact webmaster</a>
            <hr class="border-secondary-subtle border-3 opacity-75">
                  You may also want to visit us:<br />
                  1981 Landings Drive<br />
                    Building K<br />
                  Mountain View, CA 94043-0801<br />
                    USA
          </address>
          </div>
          <div class="col-4" style="color: white;">
            <h4>
              Our social media
            
            </h4>
            <a><img class="link-info" src="./static/img/inst.png" width="36" height="36"></a>
            <a><img src="./static/img/vk.png" width="36" height="36"></a>
            <a><img src="./static/img/whatsapp.png" width="36" height="36"></a>
            <a><img src="./static/img/tg.png" width="36" height="36"></a>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="./js/bootstrap/bootstrap.bundle.js"></script>
</body>
</html>