{%extends 'layouts/base.html'%}
{% load static%}
{% block content%}


<link rel="stylesheet" href="{%static '/css/question.css' %}"> 
<div class="row tags_members_wrap">
 <div class="col-8">  
    <div class="row question">     
      {% include 'components/question.html' %}
    </div>
    <hr class="border-secondary-subtle border-3 opacity-75">  
    <div class="row question">  
      {% include 'components/answer.html' %}
    </div>
    
    <div class="mb-5 row mt-3">
      <label for="input" class="col-sm-2 col-form-label"><h3>Text</h3></label>
      <div class="col-sm-9">
      <textarea name="area" placeholder="Write text for you answer" rows="8" class="text-bg-light form-control form-control-lg border-2 border-black"></textarea>
      </div>     
    </div>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-9" >
        <button class="btn-lg ask_btn" >
          Answer
      </button>
      </div>
    </div>
  </div>

<script src="{% static '/js/bootstrap/bootstrap.bundle.js' %}"></script>
{% endblock %}
 