.question_avatar
{
  border-radius: 50%;
  max-width: 50%;
  display: block;
  margin-bottom: 15px;

}
.question_text
{
  font-size: medium;
  background-color: white;
  padding: 15px;
  /* border-width: 5px; */

}
.question_title
{
  margin-bottom: 30px;
}
.question
{
  min-width: 100%;
  margin:30px;
}
.questions_tags
{

  margin-top: 15px;
  width: 100%;
}
.question_answers
{
  float:right;
  margin-bottom: 20px;
}
.question_title_text_wrap
{
  overflow:scroll; 
  
}
#question_title_text_wrap::-webkit-scrollbar {
  width: 10px;
}

#question_title_text_wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

#question_title_text_wrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #00c6fb, #005bea);
}