{% load static %}

<nav class="navbar  navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="{%static 'img/site_icon.png'%}" width="50px" height="50px" alt=""></a>
    <a class="navbar-brand" href="{%url 'hot'%}">Hot questions</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'new' %}">New Questions</a>
        </li>
      </ul>
      <div class="d-flex bd-highlight">
      <form class="d-flex nav-btn" role="search">

        <a href="{% url 'ask' %}" class="nav-link"><button type="button" class="btn btn-info">
          Ask
        </button>
        </a>      
        <input class="form-control me-2 nav-btn" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success nav-btn" type="submit">Search</button>
      </form>
    </div>
    </div>

    <ul class="navbar-nav" style="--bs-scroll-height: 100px;">
          <div class="d-flex justify-content-start">    
              <div>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'login'%}">Log in</a>
                </li>    
              </div> 
              <div>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'register'%}">Register</a>
                </li>    
              </div>    
          </div>
    </ul>   
  </div>
</nav>