{% load static %}
<div class="col-3">
  <h4 id="scrollspyHeading1">User Name</h4>
  <img src="{%static '/img/avatar1.jpeg' %}" alt="avatar" class="question_avatar" >
    <div style="display: flex;">
      <div style="margin-right: 20px;">
        <a class="position-relative" >
          <img src="{%static '/img/like.png' %}" width="40px" height="40px">
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            6
            <span class="visually-hidden"></span>
          </span>
        </a>
        <h3>Likes</h3>
      </div>
     
     <div>
      <a class="position-relative" >
        <img src="{% static '/img/repost.png' %}" width="40px" height="40px">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          2
          <span class="visually-hidden"></span>
        </span>
      </a>
      <h3>Reposts</h3>
     </div>
    </div>
    <div class="questions_tags">
      <h3>Tags</h3>
      <a class="badge bg-primary text-wrap" style="font-size: large;margin-bottom: 10px;">
       Development
      </a>
      <a class="badge bg-primary text-wrap" style="font-size: large;margin-bottom: 10px;">
        C++
      </a>
      <a class="badge bg-primary text-wrap" style="font-size: large;margin-bottom: 10px;">
        Assembly
      </a>
    </div>  
   
</div>

    
<div class="col-7">
   
    <div class="question_text">
      <h1 id="question1">Title of question1</h1>

      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Non, iusto. Iste reiciendis vitae quam! 
       Exercitationem quaerat doloremque voluptates eveniet quo quos nemo ducimus, voluptatum,
        adipisci quidem rerum. Dolorum assumenda similique ad consectetur molestiae sint, eos ipsum 
        itaque alias in praesentium eligendi, officiis sed! Modi totam, optio vero facilis commodi obcaecati ab,
         quibusdam eius corrupti vitae accusamus reprehenderit sapiente sunt placeat nostrum eligendi enim labore 
         nihil doloremque saepe consequatur illo? Pariatur, minima voluptatem repudiandae nemo quae fugit veniam 
         accusantium ex commodi ullam enim earum dolor totam aspernatur corrupti libero quos minus vero reprehenderit id.
          Officia porro recusandae quia magni numquam accusantium saepe sit, aliquid eveniet quasi, in optio mollitia doloribus 
          fuga veritatis vero perspiciatis fugit dignissimos eaque ratione necessitatibus ducimus laudantium beatae.
           Perspiciatis, non molestias optio consequuntur numquam ratione repudiandae cum consequatur nisi 
           necessitatibus vitae veritatis pariatur doloremque, possimus quis reprehenderit fugiat dolores, excepturi 
           aspernatur ducimus. Saepe quod amet tempora molestias sunt, ex harum explicabo tempore vel libero, 
           labore sit aliquid ullam aut officia eveniet voluptatem quisquam! Sint maiores nulla, consequatur nam nemo 
           accusantium tempore veniam sunt excepturi quae, quod temporibus modi suscipit natus accusamus culpa
            aspernatur perferendis repudiandae voluptas quidem. Veritatis porro ut vero minus et odit quasi sunt 
            laborum delectus tenetur vitae a earum magnam fugit est impedit magni ullam officia iusto ex repellat,
             dicta assumenda amet? Alias laudantium quod doloribus maiores. Nostrum laudantium eius magni sapiente
              blanditiis, illo repellat quae necessitatibus labore, eligendi facere maxime? Harum consectetur vitae 
              eligendi obcaecati. Ullam a molestias delectus repellendus. Nulla quos vero quis omnis facere sapiente
               quia voluptas voluptates necessitatibus dicta distinctio, at incidunt labore quam illum, eos sint 
               praesentium exercitationem ad eius aperiam nobis accusantium placeat magni. Blanditiis cum iusto 
               reprehenderit excepturi repudiandae nam, fugit sapiente similique 
      maiores cupiditate quos perferendis repellat, rerum aspernatur ad pariatur eum, unde voluptas quisquam voluptatum.

    </div>
   
</div>

