{% load static %}
<div class="col-3">
  <h4 id="scrollspyHeading1">User Name</h4>
  <img src="{%static '/img/avatar1.jpeg' %}" alt="avatar" class="question_avatar" >
    <div style="display: flex;">
      <div style="margin-right: 20px;">
        <a class="position-relative" >
          <img src="{%static '/img/like.png' %}" width="40px" height="40px">
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            6
            <span class="visually-hidden"></span>
          </span>
        </a>
        <h3>Likes</h3>
      </div>
     
     <div>
      <a class="position-relative" >
        <img src="{% static '/img/repost.png' %}" width="40px" height="40px">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          2
          <span class="visually-hidden"></span>
        </span>
      </a>
      <h3>Reposts</h3>
     </div>
    </div>
    <div class="questions_tags">
      <h3>Tags</h3>
      <a class="badge bg-primary text-wrap" style="font-size: large;margin-bottom: 10px;">
       Development
      </a>
      <a class="badge bg-primary text-wrap" style="font-size: large;margin-bottom: 10px;">
        C++
      </a>
      <a class="badge bg-primary text-wrap" style="font-size: large;margin-bottom: 10px;">
        Assembly
      </a>
    </div>  
   
</div>

    
<div class="col-7">
   
    <div class="question_text">
      <h1 id="question1">{{question.title}}</h1>

      {{question.text}}
    </div>
   
</div>

